n8n/workflow-a-code-to-figma.json
{
  "name": "Compulocks: Code → Figma Token Sync",
  "nodes": [
    {
      "name": "GitHub Push Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "github-push",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    },
    {
      "name": "Filter Token Changes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "string": [{
            "value1": "={{ JSON.stringify($json.commits) }}",
            "operation": "contains",
            "value2": "tokens/"
          }]
        }
      }
    },
    {
      "name": "Fetch color.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$env.GITHUB_OWNER}}/{{$env.GITHUB_REPO}}/contents/tokens/color.json?ref={{$env.GITHUB_BRANCH}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        }
      }
    },
    {
      "name": "Fetch typography.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$env.GITHUB_OWNER}}/{{$env.GITHUB_REPO}}/contents/tokens/typography.json?ref={{$env.GITHUB_BRANCH}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        }
      }
    },
    {
      "name": "Fetch spacing.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 400],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$env.GITHUB_OWNER}}/{{$env.GITHUB_REPO}}/contents/tokens/spacing.json?ref={{$env.GITHUB_BRANCH}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        }
      }
    },
    {
      "name": "Transform DTCG to Figma",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "jsCode": "// Paste the contents of lib/dtcg-to-figma.mjs here (remove the 'export' keywords)\n// Then call the functions:\n\n// const color = JSON.parse(Buffer.from($node['Fetch color.json'].json.content, 'base64').toString());\n// const typography = JSON.parse(Buffer.from($node['Fetch typography.json'].json.content, 'base64').toString());\n// const spacing = JSON.parse(Buffer.from($node['Fetch spacing.json'].json.content, 'base64').toString());\n// const variables = dtcgToFigmaVariables({ color, spacing });\n// const textStyles = dtcgToFigmaTextStyles(typography);\n// return [{ json: { collections: variables.collections, textStyles } }];\n\nreturn [{ json: { collections: [], textStyles: [] } }];"
      }
    },
    {
      "name": "Store for Pull",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1120, 300],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.latestTokens = $input.first().json;\nreturn $input.all();"
      }
    },
    {
      "name": "Fetch component-manifest.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/orishavit84/compulocks-brand-system/contents/component-manifest.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "User-Agent", "value": "n8n" }
          ]
        }
      }
    },
    {
      "name": "Pull Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 560],
      "parameters": {
        "httpMethod": "GET",
        "path": "pull",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      }
    },
    {
      "name": "Return Stored Tokens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [460, 560],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nreturn [{ json: staticData.latestTokens || { collections: [], textStyles: [] } }];"
      }
    }
  ],
  "connections": {
    "GitHub Push Webhook": { "main": [[ { "node": "Filter Token Changes", "type": "main", "index": 0 } ]] },
    "Filter Token Changes": { "main": [
      [
        { "node": "Fetch color.json", "type": "main", "index": 0 },
        { "node": "Fetch typography.json", "type": "main", "index": 0 },
        { "node": "Fetch spacing.json", "type": "main", "index": 0 }
      ]
    ]},
    "Fetch color.json": { "main": [[ { "node": "Transform DTCG to Figma", "type": "main", "index": 0 } ]] },
    "Fetch typography.json": { "main": [[ { "node": "Transform DTCG to Figma", "type": "main", "index": 1 } ]] },
    "Fetch spacing.json": { "main": [[ { "node": "Transform DTCG to Figma", "type": "main", "index": 2 } ]] },
    "Transform DTCG to Figma": { "main": [[ { "node": "Store for Pull", "type": "main", "index": 0 } ]] },
    "Store for Pull": { "main": [[ { "node": "Fetch component-manifest.json", "type": "main", "index": 0 } ]] },
    "Pull Webhook": { "main": [[ { "node": "Return Stored Tokens", "type": "main", "index": 0 } ]] }
  }
}
