n8n/workflow-b-figma-to-code.json
{
  "name": "Compulocks: Figma → Code Token Sync",
  "nodes": [
    {
      "name": "Push Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "push",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      }
    },
    {
      "name": "Transform Figma to DTCG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// figma-to-dtcg inline (no external imports in n8n Code node)\nfunction figmaRgbToHex({ r, g, b }) {\n  const toHex = (n) => Math.round(n * 255).toString(16).padStart(2, '0').toUpperCase();\n  return `#${toHex(r)}${toHex(g)}${toHex(b)}`;\n}\nfunction pxToRem(px) { return `${px / 16}rem`; }\nfunction setNested(obj, slashPath, value) {\n  const parts = slashPath.split('/');\n  let current = obj;\n  for (let i = 0; i < parts.length - 1; i++) {\n    if (!current[parts[i]]) current[parts[i]] = {};\n    current = current[parts[i]];\n  }\n  current[parts[parts.length - 1]] = value;\n}\nconst COLLECTION_FILE_MAP = { 'Brand': 'color.json', 'Spacing': 'spacing.json' };\nconst TYPE_MAP = { 'COLOR': 'color', 'FLOAT': 'dimension' };\n\nconst figmaData = $input.first().json;\nif (!figmaData || !figmaData.collections) throw new Error('No collections in push payload');\n\nconst files = {};\nfor (const collection of figmaData.collections) {\n  const fileName = COLLECTION_FILE_MAP[collection.name];\n  if (!fileName) continue;\n  const root = {};\n  for (const variable of collection.variables) {\n    let tokenValue;\n    if (variable.type === 'COLOR') tokenValue = figmaRgbToHex(variable.value);\n    else if (variable.type === 'FLOAT') tokenValue = pxToRem(variable.value);\n    else tokenValue = variable.value;\n    const token = { '$value': tokenValue, '$type': TYPE_MAP[variable.type] || variable.type };\n    if (variable.description) token['$description'] = variable.description;\n    setNested(root, variable.name, token);\n  }\n  files[fileName] = root;\n}\n\nreturn Object.entries(files).map(([filename, content]) => ({\n  json: { filename, content: JSON.stringify(content, null, 2) }\n}));"
      }
    },
    {
      "name": "Get Master SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$env.GITHUB_OWNER}}/{{$env.GITHUB_REPO}}/git/ref/heads/{{$env.GITHUB_BRANCH}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        }
      }
    },
    {
      "name": "Create Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$env.GITHUB_OWNER}}/{{$env.GITHUB_REPO}}/git/refs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "ref", "value": "=refs/heads/figma-sync/{{ new Date().toISOString().slice(0,19).replace(/:/g,'-') }}" },
            { "name": "sha", "value": "={{ $node['Get Master SHA'].json.object.sha }}" }
          ]
        }
      }
    },
    {
      "name": "Commit Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1120, 300],
      "parameters": {
        "jsCode": "// Commit each transformed token file to the new branch via GitHub Contents API\nconst branchName = $node['Create Branch'].json.ref.replace('refs/heads/', '');\nconst owner = $env.GITHUB_OWNER;\nconst repo = $env.GITHUB_REPO;\nconst token = $env.GITHUB_TOKEN;\nconst files = $input.all().map(item => item.json);\n\nconst results = [];\nfor (const file of files) {\n  // Get current SHA if the file already exists (required for updates)\n  let existingSha = null;\n  try {\n    const getRes = await $http.request({\n      method: 'GET',\n      url: `https://api.github.com/repos/${owner}/${repo}/contents/tokens/${file.filename}`,\n      headers: {\n        'Authorization': `Bearer ${token}`,\n        'Accept': 'application/vnd.github.v3+json'\n      },\n      qs: { ref: branchName }\n    });\n    existingSha = getRes.sha;\n  } catch (e) {\n    // File doesn't exist yet — that's fine, create it\n  }\n\n  const body = {\n    message: `chore: sync ${file.filename} from Figma`,\n    content: Buffer.from(file.content).toString('base64'),\n    branch: branchName\n  };\n  if (existingSha) body.sha = existingSha;\n\n  const putRes = await $http.request({\n    method: 'PUT',\n    url: `https://api.github.com/repos/${owner}/${repo}/contents/tokens/${file.filename}`,\n    headers: {\n      'Authorization': `Bearer ${token}`,\n      'Accept': 'application/vnd.github.v3+json',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify(body)\n  });\n  results.push({ filename: file.filename, sha: putRes.content.sha });\n}\n\nreturn [{ json: { branchName, committed: results } }];"
      }
    },
    {
      "name": "Create PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$env.GITHUB_OWNER}}/{{$env.GITHUB_REPO}}/pulls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "title", "value": "=Figma token sync — {{ new Date().toISOString().slice(0,10) }}" },
            { "name": "body", "value": "Automated sync from Figma plugin.\n\nReview the token changes and merge when ready." },
            { "name": "head", "value": "={{ $node['Commit Files'].json.branchName }}" },
            { "name": "base", "value": "={{ $env.GITHUB_BRANCH }}" }
          ]
        }
      }
    },
    {
      "name": "Return PR URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1560, 300],
      "parameters": {
        "jsCode": "return [{ json: { prUrl: $node['Create PR'].json.html_url } }];"
      }
    }
  ],
  "connections": {
    "Push Webhook": { "main": [[ { "node": "Transform Figma to DTCG", "type": "main", "index": 0 } ]] },
    "Transform Figma to DTCG": { "main": [[ { "node": "Get Master SHA", "type": "main", "index": 0 } ]] },
    "Get Master SHA": { "main": [[ { "node": "Create Branch", "type": "main", "index": 0 } ]] },
    "Create Branch": { "main": [[ { "node": "Commit Files", "type": "main", "index": 0 } ]] },
    "Commit Files": { "main": [[ { "node": "Create PR", "type": "main", "index": 0 } ]] },
    "Create PR": { "main": [[ { "node": "Return PR URL", "type": "main", "index": 0 } ]] }
  }
}
